<h2>Countries</h2>
<div ng-controller='CountryController as ctrl'>
  <div ng-hide='all'>
    Empty list
  </div>
  <div ng-show='all'>
    <table>
      <tbody>
        <tr ng-repeat='country in all | orderBy : sortCriterion : sortReverse'>
          <th>{{country.Code}}</th>
          <td>{{country.Name}}</td>
          <td>{{country.Population | bigNumber}}</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <td ng-click='sortBy(&apos;Code&apos;)'
              >Code</td>
          <td ng-click='sortBy(&apos;Name&apos;)'
              >Nom</td>
          <td ng-click='sortBy(&apos;Population&apos;)'
              >Population</td>
        </tr>
      </thead>
  </div>
</div>
