<h2>Draft</h2>
<div ng-controller='DraftController as ctrl'>
  <form name='sendEmail'>
    <p>
      <label>Name:
      <input
          type='text'
          ng-model='ctrl.yourName'
          placeholder='Enter a name here'
          ></label>
      <label>Email:
      <input
          type='email'
          name='yourEmail'
          ng-model='ctrl.yourEmail'
          placeholder='Enter your e-mail address here'
          ></label>
      <label>Content:
      <textarea
          type='content'
          name='yourContent'
          ng-model='ctrl.yourContent'
          placeholder='Enter your e-mail content here'
          ></textarea></label>
      <span ng-show='sendEmail.yourEmail.$error.email'
            >Not a valid e-mail address ({{sendEmail.yourEmail.$error | json}})</span>
      <p>
        <pre>"{{ctrl.yourName}} &lt;{{ctrl.yourEmail}}&gt;"{{"\n" + ctrl.yourContent }}</pre>
      </p>
    </p>
  </form>
</div>
