<!DOCTYPE html>
<html ng-app='draftApp'
      ng-init='yourName=&apos;Toto&apos;'
      >
  <head>
    <meta charset='utf-8' />
  </head>
  <body>
    <tabs>
      <pane title='Former'>
        <h2>Landing pad!</h2>
        <p>
          Lorem Ipsum
        </p>
      </pane>
      <pane title='Latter'>
        <h2>Draft</h2>
        <div ng-controller='DraftController as draft'>
          <form name='sendEmail'>
            <p>
              <label>Name:
              <input type='text'
                     ng-model='draft.yourName'
                     placeholder='Enter a name here'
                     ></label>
              <label>Email:
              <input type='email'
                     name='yourEmail'
                     ng-model='draft.yourEmail'
                     placeholder='Enter your e-name here'
                     ></label>
              <span ng-show='sendEmail.yourEmail.$error.email'
                    >Not a valid e-mail address ({{sendEmail.yourEmail.$error | json}})</span>
              <p><pre>"{{draft.yourName}} &lt;{{draft.yourEmail}}&gt;"</p>
            </p>
          </form>
        </div>
      </pane>
    </tabs>

    <div style='display: none'>
      <script type='application/javascript'
              src='//ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js'
              ></script>
      <script type='application/ecmascript'
              src='draft.js'
              ></script>
      <link rel='stylesheet'
            href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css'
            />
    </div>

  </body>
</html>
