<!DOCTYPE html>
<html ng-app='draftApp'
      ng-init='yourName=&apos;Toto&apos;'
      >
  <head>
    <meta charset='utf-8' />
  </head>
  <body>
    <tabs>
      <pane title='Former'>
        <h2>Landing pad!</h2>
        <p>
          Lorem Ipsum
        </p>
      </pane>
      <pane title='Latter'>
        <h2>Draft</h2>
        <div ng-controller='DraftController as draft'>
          <form name='sendEmail'>
            <p>
              <label>Name:
              <input
                  type='text'
                  ng-model='draft.yourName'
                  placeholder='Enter a name here'
                  ></label>
              <label>Email:
              <input
                  type='email'
                  name='yourEmail'
                  ng-model='draft.yourEmail'
                  placeholder='Enter your e-mail address here'
                  ></label>
              <label>Content:
              <textarea
                  type='content'
                  name='yourContent'
                  ng-model='draft.yourContent'
                  placeholder='Enter your e-mail content here'
                  ></textarea></label>
              <span ng-show='sendEmail.yourEmail.$error.email'
                    >Not a valid e-mail address ({{sendEmail.yourEmail.$error | json}})</span>
              <p>
                <pre>"{{draft.yourName}} &lt;{{draft.yourEmail}}&gt;"{{"\n" + draft.yourContent }}</pre>
              </p>
            </p>
          </form>
        </div>
      </pane>
      <pane title='Countries'>
        <h2>Countries</h2>
        <div ng-controller='CountryController as country'>
          <div ng-show='!country.all'>
            Empty list
          </div>
          <div ng-show='country.all'>
            <dl ng-repeat='country in country.all'>
              <dt>{{country.Code}}</dt>
              <dd>{{country.Name}}</dd>
            </dl>
          </div>
        </div>
      </pane>
    </tabs>

    <div style='display: none'>
      <script type='application/javascript'
              src='//ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js'
              defer
              ></script>
      <script type='application/ecmascript'
              src='draft.js'
              defer
              ></script>
      <link rel='stylesheet'
            href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css'
            defer
            />
      <style type='text/css'>
        input.ng-invalid
        , textarea.ng-invalid
        {
            background: salmon;
        }

        input.ng-valid
        , textarea.ng-valid
        {
            background: lightgreen;
        }

        input.ng-empty
        , textarea.ng-empty
        {
            background: white;
        }
      </style>
    </div>

  </body>
</html>
